.active {
    display: flex;
    flex-direction: column;
}

.inactive {
    display: none;
}

.max-size {
    max-width: 300px;
    max-height: 300px;
}

.avatar {
    width: 100px;
    height: auto;
}

.icon {
    width: 30px;
    height: 30px;
}

body {
   min-height: 100vh;
}

.card-avatar {
    aspect-ratio: 1/1;
    object-fit: cover;
}