.active {
    display: flex;
    flex-direction: column;
}

.inactive {
    display: none;
}

.max-size {
    max-width: 300px;
    max-height: 300px;
}

.avatar {
    width: 100px;
    height: 125px;
}

.icon {
    width: 30px;
    height: 30px;
}