<div class="card-body">
    <h5 class="card-title">Activity</h5>
    {{#each user.artists as |artist|}}
        <div class="card mb-2">
            <div class="card-body">
                <p class="card-text">{{../user.username}} followed {{artist.name}}</p>
                <small class="card-text d-block">{{date artist.timestamp}}</small>
            </div>
        </div>
    {{/each}}
</div>