<div class="card-body">
    <h5 class="card-title">Genres</h5>
    <div class="form-control" style="height: 10rem"> {{#each user.artists as |artist|}}
        {{#each artist.genres as |genre|}}
        {{genre}},
        {{/each}}
        {{/each}} 
    </div>
</div>