<div class="card-body">
    <h5 class="card-title text-light">Genres</h5>
    <div class="form-control border-light" style="height: 10rem"> {{#each tastes as |taste|}}
       {{taste}},
        {{/each}} 
    </div>
</div>